.generator-item .label
  margin .1em

.generator-count

.pagination ul .previous.first > a
  margin-right 0

.pagination ul .next.last
  margin-left 0

.pagination ul .previous + .previous > a,
.pagination ul .next:not(.last) > a
  border-radius 0

