h1
  color colorOrchid

.headline
  padding 73px 0 110px
  text-align center

.header-logo
  font-weight 900
  font-size 90px
  line-height 100px
  letter-spacing -2px
  margin 10px 0

.header-logo .logo
  background url("../assets/slush.png") center 0 no-repeat
  background-size auto 350px
  height 350px
  margin 0 auto 26px
  overflow hidden
  text-indent -9999em
  direction ltr
  width 236px

.header-logo small
  color rgba(52, 73, 94, 0.3)
  display block
  font-size 22px
  font-weight 700
  letter-spacing 0
  padding-top 5px
